body{
    margin: 0px;
}
 
.header{
    background-color: wheat;
    position: fixed;
    top: 0px;
    width: 100%;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    align-items: center;
    list-style: none;
    

    li{
        cursor: pointer;
    }
   
   
    .center{
        display: flex;
        gap: 20px;
        
 
        li{
         
            i{
                font-size: small;
                margin: 5px;
            }
        }
 
       
   
        .btn1{
            background-color: black;
            color: orange;
            border-radius: 10px;
   
        }
    }
   
    .right{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.content{
    height: 1200px;
    padding: 20px 50px;
    margin: 40px;

    p{
        text-align: justify;
        background-color: aquamarine;
        width: 100%;
        height: 50px;
        overflow: auto;
    }

    .sticky1{
        position: sticky;
        top: 50px;
    }

    .sticky2{
        position: sticky;
        top: 80px;
    }

    .sticky3{
        position: sticky;
        top: 110px;
    }
}

.container{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #f0f0f0;
    margin: 50px auto;
    border: 2px solid #333;
    padding: 30px;
}

.box1{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #d84c4c;
    border: 2px solid black;
    top: 50px;
    left: 60px;
    z-index: 1;
}
.box2{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #d8ba4c;
    border: 2px solid black;
    top: 100px;
    left: 150px;
    z-index: 2;
}
.box3{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #55d84c;
    border: 2px solid black;
    top: 130px;
    left: 60px;
    z-index: 3;
}