body{
    margin: 0;
}

.header{
    background-color: wheat;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    list-style: none;
    line-height: 40px;
    
    .center{
        display: flex;
        gap: 20px;

       
    
        .btn1{
            background-color: black;
            color: orange;
            border-radius: 10px;
    
        }
    }
    
    .right{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

