body {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
}

.mainblock{
   
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;

    p{
        margin: 5px 5px;
    }
}


.inputs{
    padding: 10px 10px;

    div{
        padding: 10px 10px;
    }
}

button{

margin: 10px

}

.btns{

display: grid;
grid-template-columns: auto auto auto;
width: 500px;
gap: 10px

}
