body {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     
      
    }
      
    form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
      
    p {
    color: red;
    }
      